@{
    ViewData["Title"] = "About";
}


<div id="main" style="margin-bottom:60px">
    <div class="section section-bg-10 pt-11 pb-17">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title text-center">About Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-6" style="margin-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-offset-2 col-lg-8">
                    <div class="text-center mb-1 section-pretitle">Welcome</div>
                    <h2 class="text-center section-title mtn-2">A little story about us</h2>
                    <div class="organik-seperator mb-4 center">
                        <span class="sep-holder"><span class="sep-line"></span></span>
                        <div class="sep-icon"><i class="organik-flower"></i></div>
                        <span class="sep-holder"><span class="sep-line"></span></span>
                    </div>
                    <p class="text-center">
                        Our farm is a second-generation organic farm that was our parents, Mark &amp; Renée Elliott’s dream to offer the best and healthiest range of organic foods available, promote health in the community and bring a sense of discovery and adventure into food shopping. Visit our site for a complete list of fresh, organic fruit and vegetables we are offering.
                        <br>
                        <br>
                    </p>
                    <p class="text-center">
                        Our mission is to transform agriculture in America by connecting local farms and communities in a method that is environmentally and economically sustainable.
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        @*<img src="~/organik_theme/images/image_1140x370.jpg" />*@
                        <img src="~/organik_theme/images/temp/team.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-light pt-12 pb-12" style="margin-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center section-title mtn-2">Meet Our Team</h2>
                    <div class="organik-seperator mb-6 center">
                        <span class="sep-holder"><span class="sep-line"></span></span>
                        <div class="sep-icon"><i class="organik-flower"></i></div>
                        <span class="sep-holder"><span class="sep-line"></span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                        <div class="product-thumb">
                            <img src="~/organik_theme/images/temp/flava_flav2.jpg" />
                        </div> 
                    <div style="text-align:center">Amir</div>
                </div>
                <div class="col-md-3 col-sm-6">
                        <div class="product-thumb">
                            <img src="~/organik_theme/images/temp/soprano.jpg" />
                        </div> 
                    <div style="text-align:center">Tony</div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-thumb">
                        <img src="~/organik_theme/images/temp/bieber2.jpg" />
                    </div>
                    <div style="text-align:center">Nick</div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-thumb">
                        <img src="~/organik_theme/images/temp/Vanilla_Ice2.jpg" />
                    </div>
                    <div style="text-align:center">Cody</div>
                </div>
            </div>
        </div>
    </div>
</div>
