@{
    ViewData["Title"] = "About";
    Layout = null;
}

<div id="main">
    <div class="section section-bg-10 pt-11 pb-17">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title text-center">Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-10 pb-6" style="margin-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="height:370px;">
                    <img src="~/organik_theme/images/temp/thanks.jpg" style="width:100%; height:100%"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-offset-2 col-lg-8" style="margin-bottom:60px">
                    <h5 class="text-center section-title mtn-2">
                        We will get back to you as soon as possible! <br/>
                        In the mean time feel free to continue browsing our website or checkout our social media pages!
                    </h5>
                    @*<div class="organik-seperator mb-4 center">
                        <span class="sep-holder"><span class="sep-line"></span></span>
                        <div class="sep-icon"><i class="organik-flower"></i></div>
                        <span class="sep-holder"><span class="sep-line"></span></span>
                    </div>*@
                    @*<p class="text-center">
                        Our farm is a second-generation organic farm that was our parents, Mark &amp; Renée Elliott’s dream to offer the best and healthiest range of organic foods available, promote health in the community and bring a sense of discovery and adventure into food shopping. Visit our site for a complete list of fresh, organic fruit and vegetables we are offering.
                        <br>
                        <br>
                    </p>
                    <p class="text-center">
                        Our mission is to transform agriculture in America by connecting local farms and communities in a method that is environmentally and economically sustainable.
                        <br>
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</div>