

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="topbar-text">
                    <span>Work Hours: Monday - Friday: 08AM-06PM</span>
                    <span>Saturday - Sunday: 10AM-06PM</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="topbar-menu">
                    <ul class="topbar-menu">
                        @*<li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>